* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #373737;;
  background-color: #FFF;
}

header {
  text-align: center;
  padding: 25px;
  color: #FF0000;
}

.header__navbar {
  display: inline-block;
}

.header__navbar-ul{  
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  word-spacing: 72px;
  letter-spacing: 2.7px;

}

.header__navbar-li {
  display: inline-block;
}

.header__navbar-link {
  text-decoration: none;
  color: #FF0000;
}

img {
  width: 100%;
  height: auto;
}

.content {
  text-align: center;
  margin: 49px 68px 82px 68px;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  margin-bottom: 39px; 
  margin-top: 0;
}

.main__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  margin: 0 0 28px 0;
}

.main__button{
  background: #FF0000;
  border: none;
  border-radius: 4px;
  width: 191px;
  height: 51px;
  color: #ffffffff;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  padding: 0;
  margin-top: 56px;
}

footer{
  height: 90px;  
}

.last__text{
  font-weight: bolder;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  float: right;
  margin: 40px 105px 30px 0;
}

